
<header>
   <div class="navbar">
      <ul class="nav">
        <div class="logo">
           <img src="#">
        </div>
        <div class="container searchbardiv" id="formsearch">
       <form role="search" method="get" id="searchform"  >
         <div class="input-group">
           <input type="text" id="searchbox" class="form-control" name="s" id="s">
           <div class="input-group-btn">
             <button class="btn btn-default"  id="searchsubmit"  type="submit">
               <strong>Search</strong>
             </button>

           </div>
         </div>
       </form>

     </div>

 <button type="button" class="buttonsearch" id="buttonsearch">
     <i class="glyphicon glyphicon-search openclosesearch"></i><i class="glyphicon glyphicon-remove openclosesearch" style="display:none"></i>
   </button>
         <li class="item">
            <a href="#">{{#link-to 'index'}}Home{{/link-to}}</a>
         </li>

         <li class="item">
            <a href="#">{{#link-to 'about'}}Contact Us{{/link-to}}</a>
         </li>
         <li class="item">
            <a href="" class="contact">{{#link-to 'contact'}}Contact Us{{/link-to}}</a>
         </li>
      </ul>

   </div>
</header>

{{outlet}}
